* {
  font-size: 18px;
}

body {
  background-color: var(--bg);
}

main .mensagem {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 80%;
}

main .mensagem input {
  border: 1px solid var(--gray-border);
  border-radius: 10px;
  font-style: italic;
  font-weight: 400;
  margin-top: 20px;
  opacity: .8;
  padding: 10px;
}

main .mensagem .nome, main .mensagem .assunto{
  width: 100%;
}

.mensagem .telefone-email {
  align-items: unset;
  display: flex;
  justify-content: space-between;
}

.mensagem .telefone, .mensagem .email {
  width: 48%;
}

.mensagem textarea.textarea {
  border: 1px solid var(--gray-border);
  border-radius: 10px;
  font-style: italic;
  height: 500px;
  margin-top: 20px;
  padding: 10px;
  resize: none;
  width: 100%;
}
 
.mensagem textarea.textarea:focus, .mensagem input:focus{
  border: 1px solid var(--purple-2);
  opacity: 1;
  outline: none;
}

main button {
  background: var(--bg);
  border: 1px solid var(--purple-2);
  border-radius: 50px;
  color: var(--purple-2);
  cursor: pointer;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  transition: .2s ease-out;
  width: 100px;
}

main button:hover {
  background: var(--purple-2);
  color: var(--text-white);
}

@media (max-width: 800px) {
  main .mensagem input, main .mensagem textarea {
    font-size: 12px;
  }
}