main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
  width: 70%;
}

main .container span {
  font-size: 10px;
  font-weight: 400;
}

main .container .noticia-especifica {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}


main .container .noticia-especifica h1.titulo-noticia {
  font-size: 42px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;
  padding-bottom: 12px;
  border-bottom: 4px solid #3E4095;
}

main .container .noticia-especifica .image {
  display: flex;
  margin: 0 auto;
}

main .container .noticia-especifica .image img{
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
}


main .container .noticia-especifica p.paragrafo-noticia {
  font-size: 14px;
  font-weight: 300;
  text-align: justify;
  width: 95%;
  padding: 2px;
  margin: auto;
  font-size: 17.5px;
  line-height: 28px;
}

main .container .button-back {
  align-items: center;
  background: none;
  border: 1px solid #3E4095;
  border-radius: 25px;
  color: #3E4095;
  cursor: pointer;
  display: flex;
  float: right;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding: 12px;
  transition: .1s ease-out;
  width: fit-content;
}

main .container .button-back:hover,
main .container .button-back:focus {
  background: #3D3D79;
  color: #fff;
}

main .voltar {
  padding-top: 30px;
}

@media (max-width: 768px) {
  main .container {
    width: 90%;
  }
}

@media (max-width: 440px) {
  main .container {
    width: 80%;
  }
  main .container .noticia-especifica img {
    width: 100px;
  }

  main .container .noticia-especifica h1.titulo-noticia {
    font-size: 36px;
  }

  main .container .noticia-especifica p.paragrafo-noticia {
    font-size: 16px;
  }
  
}
