body {
  background: var(--bg);
}

main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
  padding: 20px;
  padding-top: 0;
  width: 80%;
}

main .container h4 {
  font-size: 28px;
  margin: 30px 0;
  text-align: center;
  text-transform: uppercase;
}

main .container p {
  color: var(--text-gray);
  line-height: 28px;
  text-align: justify;
}

main .container .reference {
  color: var(--text-gray);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.reference .italic {
  color: var(--text-gray-secondary);
  font-style: italic;
  font-weight: 500;
  text-decoration: none;
}

main .container .card-integrantes, .card-coordenacao {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  row-gap: 20px;
  column-gap: 5 px;
}

main .container .card-integrantes .card, .card-coordenacao .card{
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 10px;
  width: 270px;
}

main .container .card-integrantes .card {
  border: 1px solid var(--text-gray);
}

main .container .card-coordenacao .card {
  border: 1px solid var(--purple);
  margin-bottom: 20px;  
}

main .container .card img {
  border-radius: 5px;
  height: 200px;
  width: 200px;
}

main .container .card .details .infos {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

main .container .card .details .infos .name {
  color: var(--purple);
  font-weight: 500;
  height: 40px;
  text-align: center;
  margin: 4px 0;
  width: 260px;
  font-size: 18px;
}

main .container .card .details .infos .occupation {
  align-items: center;
  color: var(--text-gray);
  display: flex;
  font-size: 16px;
  font-weight: 500;
  height: fit-content;
  justify-content: center;
  margin: 20px 0 10px 0;
  text-align: center;
  width: 200px;
}

main .container .card .details .infos .local {
  color: var(--text-gray);
  font-size: 14px;
  text-align: center;
  width: 200px;
}

@media screen and (max-width: 768px) {
  main .container {
    width: 100%;
  }

}

@media screen and (max-width: 440px) {
  main .container {
    margin: 20px auto;
    width: 100%;
  }

  main .container h4 {
    font-size: 22px;
  }

}